.burning {
  font-family: Lato, sans-serif;
}

.paper {
  font-family: Neucha, serif;
  letter-spacing: 3px;
  color: white;
  width: 100%;
}

.warm {
  font-family: "League Script", serif;
  color: #fff;
}

@media only screen and (min-width: 20em) {

  body {
    background-color: #89b9e0;
  }

  .house {
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 90px solid #cf4f4f;
    margin: 0 auto;
    padding-top: 7em;
  }

  .house::after {
    position: absolute;
    content: "";
    width: 180px;
    height: 130px;
    background: #fbefef;
    margin-left: -5.6em;
    margin-top: 5.6em;
    padding-top: 7em;
  }

  .house::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 70px;
    background: #fbefef;
    margin-left: 3em;
    margin-top: 1.5em;
    z-index: -1;
  }

}

@media only screen and (min-width: 38em) {

  body {
    background-color: #153666;
  }

  .paper {
    text-decoration: line-through;
  }

  .burning {
    color: #d8cc63;
  }

  .house {
    border-bottom: 98px solid #973636;
    padding-top: 3em;
  }

  .house::after {
    background: #c8c1c1;
    margin-left: -5.1em;
    margin-top: 5.5em;
    padding-top: 7em;
  }

  .house::before {
    background: #c8c1c1;
  }

}

@media only screen and (min-width: 60em) {

  body {
    background-color: #02182b;
  }

  .burning {
    color: #c2b549;
  }

  span {
    color: #393939;
  }

  .house {
    border-bottom: 90px solid #531515;
  }

  .house::after {
    background: #888071;
    margin-left: -4.6em;
    margin-top: 4.6em;
  }

  .house::before {
    background: #888071;
  }

}

@media only screen and (min-width: 90em) {

  body {
    background-color: #02182b;
  }

  .house::after {
    background: #888071;
    margin-left: -4.3em;
    margin-top: 4.3em;
  }

}

@media only screen and (min-width: 160em) {

  body {
    background-color: #02182b;
  }

  .house::after {
    background: #888071;
    margin-left: -4.3em;
    margin-top: 4.3em;
  }

}
