h1 {
  display: inline-block;
}

.burning {
  position: relative;
  top: 0;
  left: 0;
}

.paper {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Nanum Pen Script", serif;
}

.warm {
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (min-width: 20em) {

  body {
    background-color: #89b9e0;
  }

}

@media only screen and (min-width: 25em) {

  body {
    background-color: #89b9e0;
  }

}

@media only screen and (min-width: 38em) {

  body {
    background-color: #153666;
  }

}

@media only screen and (min-width: 60em) {

  body {
    background-color: #02182b;
  }

}

@media only screen and (min-width: 90em) {

  body {
    background-color: #02182b;
  }

}
