.burning {
  position: relative;
  top: 0;
  left: 0;
  font-family: 'Lato', sans-serif;
}

.paper {
  position: absolute;
  display: block;
  top: 0;
  font-family: 'Neucha', cursive;
  letter-spacing: 3px;
  color: white;
  width: 100%;
}

.warm {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Lato', sans-serif;
}

.house {
  width: 0px;
  height: 0px;
  position: relative;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  border-bottom: 90px solid #cf4f4f;
  margin: 0 auto;
  padding-top: 7em;
}


@media only screen and (min-width: 20em) {

  body {
    background-color: #89b9e0;
  }


@media only screen and (min-width: 25em) {

  body {
    background-color: #89b9e0;
  }

}

@media only screen and (min-width: 38em) {

  body {
    background-color: #153666;
  }

}

@media only screen and (min-width: 60em) {

  body {
    background-color: #02182b;
  }

}

@media only screen and (min-width: 90em) {

  body {
    background-color: #02182b;
  }

}
